{
  "singleQuote": true,
  "trailingComma": "all",
  "semi": true,
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": ["^@angular/", "^@nestjs/", "<THIRD_PARTY_MODULES>", "^@cardquorum/", "^[./]"],
  "importOrderParserPlugins": ["typescript", "decorators-legacy"]
}
